*{
  margin: 0px;
  padding: 0px;
}

body{
  font-family: sans-serif;
  line-height: 1.4;
  position: relative;
}

.product{
  border:4px solid black;
  width: 825px;
  margin: 50px auto;
  position: relative;
  
}

.product-title{
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  background-color: rgb(238, 238, 238);
  padding-top: 10px;
  padding-bottom: 10px;
}

.price{
font-size: 25px;
}

.shipping{
  text-transform: uppercase;
  color: rgb(80, 79, 79);
  font-size: 12px;
  margin-bottom: 20px;
}

.more-info:link, .more-info:visited{
  color: black;
}
.more-info:hover, .more-info:active{
  text-decoration: none;
}

.product-details{
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 20px;
  margin-top: 30px;
}
.product-list{
list-style: square;
margin-left: 20px;
}
.product-list li{
  margin-bottom: 10px;
}
.add-to-cart{
  text-transform: uppercase;
  background-color: black;
  color: white;
  font-size: 20px;
  cursor: pointer;
  border: none;
  padding: 15px;
  width: 100%;
  border-top:4px solid black;
}

.add-to-cart:hover{
  background-color: rgb(238, 238, 238);
  color: black;
  border: 2px solid black;
}

/* h1::before{
  content: "SALE";
  color: white;
  background-color: rgb(206, 6, 6);
  position:absolute;
  top: 0px;
  left: 0px;

} */

/* .color-options{
display: inline-block;
margin: 20px;
text-align: center;
} */

.sale{
  background-color: rgb(202, 6, 6);
  color: white;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 7px 10px;
  display: inline-block;
  position: absolute;
  top: -17px;
  left: -38px;
}

.color{
  background-color: #000;
  width: 22px;
  height: 22px;
  display: inline-block;
  margin-right: 10px;
  margin-top: 10px;
}

.color-red{
  background-color: red;
}
.color-blue{
  background-color: blue;
}
.color-green{
  background-color: green;
}
.color-yellow{
  background-color: yellow;
}
.color-brown{
  background-color:brown;
}

/* FLOATS */


